{% extends 'master.html' %}

{% load static %}

{% block title %}
 aboutpage
{% endblock %}
 
{% block content %}
    <h1 class="ab">About US</h1>
    <section class="abt" >
        <div class="container">
            
            <div class="row">
                <div class="col-sm">
                    <img src="{% static 'img2.jpg' %}" alt="Chicago" class="rounded-circle" alt="Cinque Terre" height="330px" >
            </div>
            <div class="col-sm">
                <p class="ap">EasyBuy online shopping allows you to shop from the comfort of your own home, 24/7, and easily compare prices and find deals from various retailers online. This convenient option saves time and effort by avoiding physical store visits, and also enables you to read reviews and check ratings from other customers before making a purchase. Additionally, online shopping offers a wider selection of products than physical stores, and you can avoid crowds and long lines by shopping online. With easy price comparisons and discounts, you can also shop from international retailers and access global products. Furthermore, online shopping offers convenient payment options and secure transactions, and you can track your order and shipping status online. Online shopping also reduces the need for physical storage space, and you can easily return or exchange products online, making it a hassle-free experience.</p>
            </div>
            

            
            </div>

            </div>
        </div>
    
    </section>
    {% endblock %}