{% extends 'master.html' %}

{% load static %}

{% block title %}
 Homepage
{% endblock %}
 
{% block content %}
<div class="container">
    <div class="row">
        <h1 id="demo" class="pdt">PRODUCTS</h1>
        {% for x in product %}
        <div class="col-sm-3">
            <div class="inbox1">
                <img src="/media/{{x.pro_image}}" alt="" width="100%" style="object-fit: cover; object-position: top center;" height="350px">
                <div class="span1">
                    <span>{{x.pro_name}}</span>
                </div>
            </div>
            <div class="span1">
                <span>{{x.pro_price}}</span>
            </div>
            <div class="span">
               <a href="/addtocart/{{x.id}}" class="btn btn-warning"> Add to cart</a>
                <br><br>
            </div>
          
        </div>
        {% endfor %}
    </div>
</div>
  
{% endblock %}